@font-face {
    font-family: Spurs;
    font-style: normal;
    font-weight: normal;
    src: url('../Fonts/nbaspurs.ttf');
}

header {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

footer {
    width: 1024px;
    margin: 0 auto;
    text-align: center;   
}

body {
    background: black;
    font-family: Calibri;
    color: grey;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

p {
    padding: 10px;
    text-align: justify;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.avisoImportante {
    font-family: Spurs;
    color:white;
}

.title {
    font-family: Spurs;
    color: white;
}

.playerNumber {
    font-family: Spurs;
    font-size: 14px;
    color: white;
}

.playerImage {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.playerList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerPic {
    padding: 15px;
}

